<div id="confirmation" class="container-fluid column-center text-white">
  <label class="h1 mb-3 font-weight-bold title">CONFIRM RESERVATION</label>
      <div class="col-md-3 container-fluid h-100">
        <form class="form-horizontal">
          <label class="mt-3 h6 font-weight-bold">Full name.</label>
          <div class="form-inline">
            <input type="text" class="form-control w-50" id="confirm-firstname" placeholder="First Name" disabled>
            <input type="text" class="form-control w-50" id="confirm-lastname" placeholder="Last Name" disabled>
          </div>
          <div class="form-horizontal">
            <label class="mt-3 h6 font-weight-bold">username.</label>
            <input class="form-control" type="tel" id="confirm-username" placeholder="(312) 414-7057" disabled>
          </div>
          <div class="form-horizontal">
            <label class="mt-3 h6 font-weight-bold">E-mail.</label>
            <input class="form-control" type="tel" id="confirm-email" placeholder="(312) 414-7057" disabled>
          </div>
          <div class="form-horizontal">
            <label class="mt-3 h6 font-weight-bold">Mobile Number.</label>
            <input class="form-control" type="tel" id="confirm-NoMobile" placeholder="(312) 414-7057" disabled>
          </div>
        </form>
      </div>

      <div class="card text-dark my-3">
        <img class="card-img-top" id="confirmation-card-img" src="" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title" id="confirmation-card-title"></h5>
          <p class="card-text" id="confirmation-card-desc"></p>
          <div class="input-group">
            <select class="custom-select" disabled>
              <option id="confirmation-card-price" selected value=""></option>
            </select>
          </div>
        </div>
      </div>

    <div class="container row-center">
      <button type="button" class="mx-2 btn btn-danger" href="#" data-target="#main-content" data-slide-to="1" id="cancel-create">Cancel</button>
      <button type="submit" class="mx-2 btn btn-success" href="#" data-target="#main-content" data-slide-to="7" id="confirm-create">Book room</button>
    </div>
</div>
