<!--Contact-->
<div id="contact-section" class="container-fluid w-75 row-center">
  <p class="h1 text-center">Contact us</p>

  <div class="container text-center text-white py-3">
    <p>Amazing View Mountain and Farm Resort, KM 72 Sitio Little Baguio Brgy. Paagahan, Mabitac Laguna, Philippines</p>
    <div class="row">
      <div class="col-sm"><i class="material-icons">local_phone</i></div>
      <div class="col-sm"><i class="material-icons">phone_android</i></div>
      <div class="col-sm"><i class="material-icons">mail_outline</i></div>
    </div>

    <div class="row">
      <div class="col-sm"><a class="mx-2">+63(049) 0591 0711</a></div>
      <div class="col-sm"><a class="mx-2">+639464073550</a></div>
      <div class="col-sm"><a class="mx-2">reservation@amazingviewresort.com</a></div>
    </div>

    <div class="row">
      <div class="col-sm"><a class="mx-2">5910698</a></div>
      <div class="col-sm"><a class="mx-2">+639174545980</a></div>
    </div>
  </div>
</div>
<!--Contact-->
