<!--Home Section-->
<div id="home-section" class="container-fluid column-center text-white">
  <div class="h1 font-weight-bold title">AMAZING VIEW</div>
  <div class="h6 font-weight-bold">MOUNTAIN RESORT</div><hr>
  <p class="h5 font-weight-normal">Nestled in a high point overlooking Mabitac Valley and Sierra Madre mountain, it is the perfect backdrop for your unforgibable relaxing holidays!</p><hr>
  <p class=""><a href="#" class="btn btn-lg btn-secondary">Learn more</a></p>
</div>
<!--/Home Section-->
