<!--Navbar-->
<nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-dark justify-content-between">
  <a class="navbar-brand" href="#" id=nav-brand><img src="img/logo2.png" width="30" height="30" class="d-inline-block align-top mr-2" alt="">Amazing View</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mx-2">
      <li class="nav-item active"><a class="nav-link" href="#" id="nav-home"><b>Home</b><span class="sr-only">(current)</span></a></li>
      <li class="nav-item"><a class="nav-link" href="#" id="nav-book">Rooms & Rates</a></li>
      <li class="nav-item"><a class="nav-link" href="#" id="nav-activities">Activities</a></li>
      <li class="nav-item"><a class="nav-link" href="#" id="nav-about">About</a></li>
      <li class="nav-item"><a class="nav-link" href="#" id="nav-contact">Contact us!</a></li>
    </ul>
    <a class="btn btn-success m-2" id="nav-book-btn">Book now!</a>
  </div>

  <div class="collapse navbar-collapse justify-content-end text-white" id="navbarNav">
    <b><a id="nav-signin-label">Already got a reservation? sign in to check:</a></b>
    <a class="btn btn-primary m-2" href="#" id="nav-signin-btn">Sign in</a>
    <a class="btn btn-success m-2" href="#" id="nav-db-btn">Dashboard</a>
    <a class="btn btn-outline-primary m-2" href="#" id="nav-signout-btn">Sign out</a>
  </div>
</nav>
<!--/Navbar-->
