<!--/Book section-->
<div id="book-section" class= "container-fluid text-white column-center">
  <a id="book-title" class="h1 text-center mt-4 font-weight-bold title">CREATING RESERVATION</a>
  <div class="container-fluid	row row-center">
    <div class="col-md-3">
      <form class="form-horizontal">
        <div class="form-group">
          <label >Check-In Date</label>
          <input type="date" class="form-control" id="room_checkindate">
        </div>
        <div class="form-group">
          <label >Check-Out Date</label>
          <input type="date" class="form-control" id="room_checkoutdate">
        </div>
        <div>
          <label >Number of Guest</label>
          <input type="number" class="form-control" id="room_pax">
        </div>
        <a class="btn btn-primary m-2" id="room_search">Search</a>
      </form>
    </div>
    <!--cards-->
    <div id="rooms-container" class="d-inline-block container-fluid col-md-8 bg-light border border-secondary rounded-lg column-center"></div>
    <!--cards-->
  </div>
</div>
<!--/book Section-->
