<!--Sign in form-->
<div id="login-section" class="container-fluid w-75 column-center">
  <form class="form-signin column-center" id="login-form">
    <img class="mb-4" src="img/logo2.png" alt="" width="200" height="144">
    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <label for="login_username" class="sr-only">Email address</label>
    <input type="text" id="login_username" class="form-control" placeholder="Email address or Username" required autofocus>
    <label for="login_password" class="sr-only">Password</label>
    <input type="password" id="login_password" class="form-control" placeholder="Password" required>
    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="button" id="login-btn">Sign in</button>
  </form>
</div
<!--/Sign in form-->
